<div>
    <div style="display: flex; justify-content: space-evenly; margin-top: 60px; margin-bottom: 60px;">
        <i class="fa-solid fa-code fa-5x"></i>
        <i class="fa-solid fa-music fa-5x"></i>
        <i class="fa-solid fa-person-hiking fa-5x"></i>
    </div>

    <div style="text-align: center; margin-left: 50px; margin-right: 50px;">
        <div>
            <span style="font-weight: bold;">Hi I'm Chris. </span><span>I write about software engineering, classical music, and outdoor adventuring. I am based in the Greater Seattle area.</span>
        </div>

        <div style="margin-top: 20px;">
            <a href="https://www.linkedin.com/in/chris-zacny-bb93798/" target="_blank">Contact me through LinkedIn</a>
        </div>
    </div>
</div>